.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
Thumbs.db
vendor
uploads/*
!uploads/.gitkeep
!uploads/coast-medium.jpg
!uploads/rock-medium.jpg
userpics/*
!/userpics/
!userpics/userpic.jpg
!userpics/default.jpg
!userpics/userpic-mark.jpg
!userpics/userpic-larisa-small.jpg
